*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

html{
    font-size: 10px;
}

i{
    cursor: pointer !important;
}


body{
    background-color: #F7F8FC;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    height: 100vh
}

.container{
    /* background-color: rgba(0, 128, 0, 0.48); */
    max-height: fit-content;
    background-color: #fff;
    width: 25rem;
    padding: 1rem;
    box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.109);
}

.df{
    display: flex; 
}

.head1{
    justify-content: space-between;
    width: 100%;
    height: 50px;
    align-items: end;
}

.head1 i{
    color: #B6B6B6;
    font-size: 1.6rem;
}

.head1 p{
    color: #c3cad3;
}

.head2{
    width: 100%;
}

.head2 div:first-child{
    text-align: center;
    display: block;
    font-size: 1.15rem;
    font-weight: 500;
    margin-top: 0.5rem;
}

.head2 div:nth-child(2){
    text-align: center;
    display: block;
    font-size: 0.9rem;
    font-weight: 500;
    margin-top: 0.5rem;
    color: #55544F;
}

.image{
    justify-content: center;
    align-items: center;
}


.image img{
    width: 20rem;
    height: 15rem;
    margin-top: 2.5rem;
}

.slider{
    width: 100%;
}

input[type="range"]{
    -webkit-appearance: none;
    appearance: none;
    height: 0.3rem;
    width: 100%;
    margin-top: 2rem;
    accent-color: red;
    background: #E7E7E7;
    outline: none;
}

.range{
    width: 100%;
    justify-content: space-between;
    margin-top: 0.7rem;
    font-size: 0.9rem;
    font-weight: 500;
    color: #a8a7a7;
}

.control{
    margin-left: 2rem;
    margin-right: 2rem;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.7rem;
    margin-bottom: 3.5rem;
    color: #B6B6B6;
}

.control i{
    font-size: 1.7rem;
}

.control i:nth-child(3){
    font-size: 3.5rem;
    color: #949494;
}

.list{
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    margin-top: 2.9rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    color: #7a7a7a;
    font-weight: 500;
}

.current{
    color: rgba(0, 0, 0, 0.77);
}

.current::before{
    position: absolute;
    content: "";
    width: 0.3rem;
    height: 0.3rem;
    background-color: rgb(16, 205, 183);
    border-radius: 50%;
    left: -0.5rem;
    top: 50%;
    transform: translateY(-50%);

}


