*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 150%;
  font-family: "Poppins", sans-serif;
}

body{
    background: #EBEBEB;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
}

.header{
    height: 10%;
    width: 100%;
    padding-left: 10rem;
    padding-top: 1.7rem;
}

.header h1{
    font-size: 3rem;
    font-weight: bold;
    color: #2D72F1;
}

.section{
    display: flex;
    align-self: center;
    margin-top: 3rem;
    /* align-items: center; */
}

.lb-headings{
    font-size: 0.9rem;
    font-weight: 600;
    color: #6286C3;
}


.lb-selects{
    width: 15rem;
    height: 2.2rem;
    margin-top: 0.2rem;
    margin-bottom: 1.2rem;
    border-radius: 0.2rem;
    padding-left: 0.5rem;
    border: 2px solid #cfcfe3bb;
    font-size: 0.9rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.667);
}

.lb-inputs{
    width: 14.45rem;
    height: 2.2rem;
    margin-top: 0.2rem;
    margin-bottom: 1.2rem;
    border-radius: 0.2rem;
    padding-left: 0.5rem;
    border: 2px solid #cfcfe3bb;
}

.add{
    width: 15rem;
    height: 2.2rem;
    margin-top: 0.2rem;
    margin-bottom: 1.2rem;
    border-radius: 0.2rem;
    padding-left: 0.5rem;
    border: 1px solid #d9d9ea;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.833);
    background-color: #2D72F1;
    cursor: pointer;
}

.section2{
    margin-left: 4rem;
    background-color: #fff;
    display: flex;
    border-radius: 1rem;
    box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.075) , -0.3rem -0.3rem 0.5rem rgba(0, 0, 0, 0.057);
    height: fit-content;
    margin-top: 3.5rem;
}

.df{
    display: flex;
}

.sec2-logo{
    height: 4rem;
    width: 4.2rem;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 55%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15), -1px -0px 2px rgba(0, 0, 0, 0.10);
    margin-top: 1.6rem;
    margin-left: 1.5rem;
}

.icon{
    width: 2.3rem;
    height: 2.3rem;
}

.profile{
    margin-left: 1rem;
    width: 24rem;
    margin-right: 1.5rem;
}


.priority{
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0 0 0;
}

.priority p:first-child{
    padding: 0.3rem .7rem;
    background-color: #F15F91;
    color: white;
    font-size: 0.7rem;
    border-radius: .5rem;
}

.priority p:nth-child(2){
    color: #A9AFB2;
    font-size: 0.8rem;
    margin-top: 0.2rem;
}

.task-name{
    font-size: 1.25rem;
    font-weight: 600;
    color: #3D459F;
    margin-top: 1rem;
}

.tags{
    /* justify-content: space; */
    gap: 1rem;
    margin-top: 1rem;
}

.tg-dev, .tg-manage{
    font-size: 1rem;
    padding: 0.3rem 0.6rem;
    background-color: #DCDCDC;
    border-radius: 0.3rem;
    color: #7995C6;
    font-weight: 600;
}

.dtail{
    justify-content: space-between;
    margin-top: 1.3rem;
    margin-bottom: 1.5rem;
}

.dtail p{
    font-size: 0.79rem;
    font-weight: 600;
    color: #7995C6;
}

.dtail i{
    font-size: 0.7rem;
    margin-right: 0.7rem;
    color: rgba(0, 0, 0, 0.468);
}













